<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head"><title></title></head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>

<form action="#" th:action="@{/customer/save}" th:object="${customer}"
      method="POST" novalidate="novalidate">
    <div>
        <label>Name</label>
        <label>
            <input type="text" name="name" th:field="*{name}"/>
        </label>
    </div>
    <div>
        <label>Email</label>
        <label>
            <input type="text" name="email" th:field="*{email}"/>
        </label>
    </div>
    <div>
        <label>Address</label>
        <label>
            <input type="text" name="address" th:field="*{address}"/>
        </label>
    </div>
    <input type="submit" value="Save"/>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>